/*******************************************************************************
 *
 * lpinto.eu
 *
 * css theme definition.
 *
 ******************************************************************************/



/*******************************************************************************
 *
 * HTML
 *
 ******************************************************************************/
body {
    font-size: 14px;
    margin-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

@media (max-width: 768px) {
    /* >= sm */
    h2 {
        font-size:  26px;
    }
}

.anchor {
    position: relative;
    top:00px;
}



/*******************************************************************************
 *
 * BOOTSRAP
 *
 ******************************************************************************/
.jumbotron {
    margin: 0;
    background-color: transparent;
}



/*******************************************************************************
 *
 * COMPONENTS
 *
 ******************************************************************************/

/* Timeline
 ******************************************************************************/
.lp-timeline ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lp-timeline .progress {
    /* overrides bootstrap .progress */
    margin: 0px;
}

.lp-timeline ul.events li {
    /* no bootstrap */
    float: none;
    margin-bottom: 1px;
    padding: 3px 0;
    position: relative;
    text-align: center;
}

.lp-timeline em {
    color: #aaa;
    font-weight: normal;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    /* >= sm */
    .lp-timeline ul.intervals li {
        font-size: 12px;
    }
}

.lp-timeline ul.intervals li {
    border-right: 1px solid #ccc;
    color: #444;
    float: left;
    margin: 0;
    text-align: center;
    width: 10%; /* The width depends on the number of intervals: 100% / n */
}

.lp-timeline ul.intervals li.first {
    border-left: 1px solid #ccc;
}



/*******************************************************************************
 *
 * CONTENT
 *
 ******************************************************************************/
.page-section {
    padding: 47px 0px;
}

.page-section p {
    text-align: justify;
}

.lp-timeline {
    margin-top: 50px;
    margin-bottom: 100px;
}

/* Wellcome
 ******************************************************************************/
#welcome-section  {
    background: #36424D;
    color: #EEE;
}

#welcome-section .btn-primary {
    color: #FFFFFF;
    border-color: #FFFFFF;
    min-width: 100px;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    padding: 7px 15px;
}

/* Qoute
 ******************************************************************************/
#quote-section {
    /*background: #4C5F70;*/
    background: #EB7260;
    /*color: #CCC;*/
    color: #FFF;
}

#quote-section {
    padding: 10px 0;
}

@media (min-width: 768px) {
    /* >= sm */
    #quote-section {
        padding: 30px 0;
    }
}

@media (max-width: 768px) {
    /* >= sm */
    #quote-section h3 {
        font-size:  14px;
    }

    #quote-section p {
        font-size:  12px;
    }
}

#quote-section i {
    opacity: 0.5;
    font-size: 0.7em;
}

/* About
 ******************************************************************************/
#about-section {
    background: #EB7260;
    color: #FFFFFF;
}

/* Path
 ******************************************************************************/
#path-section {
    background: #E6E6E6;
    color: #666;
}

#path-section hgroup {
    text-align: center;
}

#path-section hgroup i {
    opacity: 0.7;
    color: #BE7234;
    color: #F69B58;
    color: #36424D;
}

#path-section h1, #path-section h2 {
    color: #000;
}

/* Some
 ******************************************************************************/
#some-section {
    background: #2EA28E;
    color: #FFFFFF;
}

#some-section {
    padding: 10px 0;
}

@media (min-width: 768px) {
    /* >= sm */
    #some-section {
        padding: 30px 0;
    }
}

@media (max-width: 768px) {
    /* >= sm */
    #some-section h3 {
        font-size:  14px;
    }

    #some-section p {
        font-size:  12px;
    }
}

#some-section i {
    opacity: 0.5;
    font-size: 0.7em;
}

/* Projects
 ******************************************************************************/
#projects-section {
    background: #E6E6E6;
    color: #666;
}

#projects-section h1, #projects-section h2, #projects-section h3 {
    color: #000;
}

/* timeline */
#projects-section .progress-bar span {
    background-color:inherit;
}

/* features */
.project-img-wrapper {
    text-align: center;
}

.project-img-wrapper p {
    text-align: center;
    font-size: 11px;
}

@media (min-width: 992px) {
        /* >= lg */
    .project-img-wrapper p {
        font-size: 12px;
}

}

#projects-timeline ul.intervals li {
    width: 20%;
}

#projects-section img {
    max-width: 70px;
    min-height: 70px;
    float:none;
    display:inline-block;
    vertical-align: middle;
}

.project-toggle {
    color:  #AAA;
}

#projects-section img {
    border-color:  #333;
}

#projects-section .collapsed img {
    border-color:  #AAA;
}

#projects-section .accordion-toggle:hover img {
    border-color:  #333;
}

#projects-section .collapsed i:before {
    content: "\f152";
}

#projects-section .accordion-toggle i {
    color:  #333;
}

#projects-section .collapsed i {
    color:  #AAA;
}

#projects-section .accordion-toggle:hover i {
    color:  #333;
}

#projects-section h3 {
    display: inline-block;
}

#projects-section h3 small {
    font-size: 14px;
}
@media (min-width: 992px) {
        /* >= lg */
    #projects-section h3 small {
        font-size: 11px;
    }
}

@media (min-width: 1200px) {
        /* >= lg */
    #projects-section h3 small {
        font-size: 14px;
    }
}

.project-img {
    border: 3px solid;
}

#accordion .skills {
    font-size: 10px;
}
@media (min-width: 992px) {
        /* >= lg */
        #accordion .skills {
        font-size: 12px;
    }
}


/* Skills
 ******************************************************************************/
#skills-section {
    background: #548DB5;
    color: #FFFFFF;
}

#prog-skills-timeline ul.intervals li {
    width: 10%;
}

#projects-timeline .progress {
    background-color: #EEE;
}

#projects-timeline .progress-bar {
    background-color: #666;
}

#skills-section .progress {
    background-color: #EEE;
}

#skills-section .progress-bar {
    background-color: #666;
    text-align: right;
}

#coursework {
    line-height: 1.5;
    list-style-type: none;
}

#skills-section a {
    color: #FFF;
    text-decoration: underline;
}

/* SKILL_LIST
 ******************************************************************************/
#some2-section {
    background: #EB7260;
    color: #FFFFFF;
}

#some2-section dt {
    border-bottom: 1px solid;
}

#some2-section dd {
    border-bottom: 1px dotted;
}

/* Contacts
 ******************************************************************************/
#contacts-section {
    background: #4C5F70;
    color: #FFFFFF;
    border: none;
}

.contact a {
    background: transparent;
    color: #FFF;
}

.contact a  p {
    text-align: center;
}

.contact :hover {
    color: #FFF;
}

.contact i {
    font-size: 35px;
}

.extLink {
    background: transparent;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    color: #FFFFFF;
    display: inline-block;
    font-size: 35px;
    height: 85px;
    margin: 25px;
    position: relative;
    text-align: center;
    width: 85px;
    padding: 15px;
}

.extLink:hover {
    background: #FFFFFF;
    color: #4C5F70;
}

/* Footer
 ******************************************************************************/
#footer  {
    background: #36424D;
    margin-bottom: 0;
}



.no-border {
    border: none;
}
