/*******************************************************************************
 *
 * lpinto.eu
 *
 * css control of the page content, not page theme definition.
 *
 ******************************************************************************/



/*******************************************************************************
 *
 * CONTENT
 *
 ******************************************************************************/

/* Path
 ******************************************************************************/
.path-img {
    width: 250px;
    height: 250px;
}

/* Path
 ******************************************************************************/
.path-img-wrapper {
    text-align: center;
}


/* Projects
 ******************************************************************************/
.project-img-wrapper {
    text-align: center;
}

#projects-timeline ul.intervals li {
    width: 20%;
}

#projects-section img {
    width: 120px;
    height: 120px;
    float:none;
    display:inline-block;
    vertical-align:middle;
}


/* Skills
 ******************************************************************************/
#prog-skills-timeline ul.intervals li {
    width: 10%;
}

/* Footer
 ******************************************************************************/
#footer  {
    margin-bottom: 0;
}

/*******************************************************************************
 *
 * HTML
 *
 ******************************************************************************/
body {
    margin-top: 50px;
}



/*******************************************************************************
 *
 * COMPONENTS
 *
 ******************************************************************************/

/* Timeline
 ******************************************************************************/
.lp-timeline ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lp-timeline .progress {
    /* overrides bootstrap .progress */
    margin: 0px;
}

.lp-timeline ul.events li {
    /* no bootstrap */
    float: none;
    margin-bottom: 1px;
    padding: 3px 0;
    position: relative;
    text-align: center;
}

.lp-timeline em {
    color: #aaa;
    font-weight: normal;
    font-size: 0.9em;
}

.lp-timeline ul.intervals li {
    border-right: 1px solid #ccc;
    color: #444;
    float: left;
    margin: 0;
    text-align: center;
    width: 10%; /* The width depends on the number of intervals: 100% / n */
}

.lp-timeline ul.intervals li.first {
    border-left: 1px solid #ccc;
}
