/*
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
*/
/******************************************************************************
* Theme
*
*
* c1l 02BD85
* c1d 152f27
*
* c2 ED7263
*
* base 444
******************************************************************************/

.modal-dialog-center {
    margin-top: 25%;
}

/*******************************************************************************
* HTMLS
*******************************************************************************/
body {
    background-color: #EEE;
    line-height: 1.43;
    font-size: 14px;
    font-family: "Consolas", "Liberation Mono", "Courier", monospace;
}

h1 {
    font-size: 45px;
    font-family: Days One;
    text-shadow: 2px 2px 2px #666;
    line-height: 2;
    font-weight: 400;
}

h2 {
    text-shadow: 1px 1px 1px #000;
    font-family: Lobster;
    font-size: 35px;
}

/*******************************************************************************
* PAGE
*******************************************************************************/

.page-section {
    padding: 60px 0;
}

/* HEADER
******************************************************************************/
.navbar-nav li a {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}
.navbar-nav li a i {
    font-size: 30px;
}

.navbar .container .navbar-brand {
    padding: 0;
    margin-top: 0;
    position:absolute;
    top : 30%;

    font-size: 30px;
}

#luis {
    color: #1A99AA;
}


/* WELCOME
*****************************************************************************/
#welcomeSection {
    margin: 0;
    margin-top: 70px;
    padding: 30px 0;
    background-color: /* c1l */ #1A99AA;

    color: #FEF6E9;
    font-size: 16px;
}

#welcomeSection .jumbotron {
    background-color: inherit;
}

#welcomeSection h1 {
    font-size: 60px;
}


/* COLUMNS
******************************************************************************/
#colummsSection {
    background: url("http://www.roxannecook.com/img/bg-white-dots.png") #FEF6E9;
    color: #666;
}

#colummsSection h1,
#colummsSection h2 {
    color: #1A99AA;
}


/* FEATURETTES
******************************************************************************/
#featuresSection {
    background-color: /* bd */ #444;
    background-color: /* bd */ #ECD06F;
    background-color: /* bd */ #FFB339;
    background-color: /* bd */ #df6c4f;
    background-color: /* bd */ #4A3F60;
    background: rgba(93, 157, 141, 0.99);
    color: #333;
}

#featuresSection h1,
#featuresSection h2 {
    color: #eae5c7;
}

.featurette-divider {
    margin: 50px 0;
    border-color: rgba(93, 157, 141, 0.99);
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.5px;
    font-size: 40px;
}


/* CONTACTS
*****************************************************************************/
#contactsSection {
    background-color: /* c13 */ #333;
    color: #AAA;
}

#contactsSection h1,
#contactsSection h2 {
    color: #df6c4f;
}

.contact {
    padding: 0px 15px;
    display: inline-block;

    font-size: 12px;
    color: #AAA;
}

.contact i {
    font-size: 30px;
    color: #1A99AA;
    text-shadow: 2px 2px 2px #000;
}

#extLinks {
    padding: 0;
    padding-top: 20px;
}

.extLink {
    display: inline-block;
    padding: 0px 20px;
    color: #CCC;
    font-size: 20px;
}

.extLink i {
    color: inherit;
}


/* Skills
******************************************************************************/
#skillsSection {
    background-color: #222;
    color: #CCC;
}

#skillsSection dt {
    font-size: 14px;
    /*background-image: linear-gradient(to right, #0099AB, transparent);*/
    border-bottom: 2px solid #0099AB;
}

#skillsSection dd {
    padding: 7px 0 2px 7px;
    border-bottom: 1px solid #2a2a2a;
    font-size: 12px;
}

/* FOOTER
******************************************************************************/
#footer {
    background-color: #111;
    color: #DDD;
}

#footer footer {
    padding-top: 10px;
    font-size: 12px;
}
