
/******************************************************************************
* Vintage Theme
*
* /* c1 * / #1ebcd6
* /* c2 * / #ea5432
* c1d 152f27
*
* Orange #FA6B55
* Orange-Dark #b94a48
*
* Green #15C5A9
* Green-Dark #468847
*
* Dark gray #292933
* Gray #3C3C49
*
* Blue #428bca
* Blue-Dark #3a87ad
* Blue #099
* Yellow #c09853
*
* Pink #c7254e
******************************************************************************/

.modal-dialog-center {
    margin-top: 25%;
}

/*******************************************************************************
* HTML
*******************************************************************************/
body {
    color: #CDCFD8;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
    /*font-family: freight-sans-pro;*/
    /*font-size: 50px;
    font-weight: 900;*/
}

h2 {
    /*font-family: jubilat;*/
    color: #292933;
    /*font-size: 40px;
    text-transform: uppercase;*/
}

h2, h3, h4, h5, h6 {
}

/*******************************************************************************
* BOOTSTRAP
*******************************************************************************/

.jumbotron {
    margin: 0;
    /*padding: 80px 0;*/
    background-color: #15C5A9;
    color: #3C3C4F;
}

.jumbotron h1 {
    color: #FFF;
    /*font-size: 65px;
    margin-top: 0;
    font-family: freight-sans-pro;
    text-shadow: none;
    line-height: 1;*/

}

.jumbotron h2 {
    color: #3C3C4F;
    /*font-family: jubilat;
    text-shadow: none;
    line-height: 1.3em;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 10px;*/
}

.jumbotron p {
    color: #3C3C4F;
    /*font-weight: 500;
    font-size: 21px;
    margin-bottom: 20px;
    font-family: jubilat;
    letter-spacing: .01em;
    margin: 0 0 10px;*/
}

.jumbotron .btn-primary {
    background-color: #15C5A9;
    color: #3C3C4F;
    border-color: #3C3C4F;
}
.jumbotron .btn-primary:hover {
    background-color: #468847;
    color: #DDD;
    border-color: #3C3C4F;
}



/*******************************************************************************
* PAGE
*******************************************************************************/

#main {
    margin-top: 60px;
}

#main hr {
    margin: 50px 0;
    border: 0;
    border-top: 1px solid #292933;
}

.page-section {
    padding: 50px 0;
}

/* HEADER
******************************************************************************/

#header {
    /*height: 60px;*/
}

.navbar-inverse .navbar-brand {
    font-size: 30px;
}

.navbar-nav li a i {
    font-size: 30px;
}

/* WELCOME
*****************************************************************************/
#welcome-section {
}

#welcome-section h1 {
}
#welcome-section h1 small {
}


/* COLUMNS
******************************************************************************/
#columms-section {
    background-color: #3C3C49;
}

#columms-section h1,
#columms-section h2 {
    color: #FA6B55;
}


/* FEATURETTES
******************************************************************************/
#features-section {
    background-color: #3C3C49;
}

#features-section h1,
#features-section h2 {
    color: #428bca;
}

#features-section h2 small {
    font-size: 0.7em;
    color: inherit;
}

#features-section img {
    height: 60px;
}

/* Thin out the marketing headings
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.5px;
    font-size: 40px;
}
*/

/* CONTACTS
*****************************************************************************/
#contacts-section {
    background-color: #3C3C49;
}

#contacts-section h1,
#contacts-section h2 {
    color: #15C5A9;
}

.contact {
    padding: 0px 15px;
    display: inline-block;
    font-size: 12px;

    color: inherit;
}

.contact i {
    font-size: 30px;
    color: inherit;
}

#extLinks {
}

.extLink {
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
    color: inherit;
}

.extLink i {
}


/* Skills
******************************************************************************/
#skills-section {
    background-color: #3C3C49;
}

#skills-section dt {
    font-size: 14px;
}

.border-gradient {
    height: 2px;
    background-image: linear-gradient(to right, #0099AB, transparent);
}

#skills-section dd {
    padding: 7px 0 2px 7px;
    border-bottom: 1px dotted #292933;
    font-size: 12px;
}

/* FOOTER
******************************************************************************/
#footer {
    background-color: #111;
    color: #DDD;
    font-size: 12px;
}