/*
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
*/
/******************************************************************************
* Theme
*
*
* c1l 02BD85
* c1d 152f27
*
* c2 ED7263
*
* base 444
******************************************************************************/


/*******************************************************************************
* HTMLS
*******************************************************************************/
body {
    background: whitesmoke;

    font-size: 14px;
    font-family: "freightsans_regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0;
    word-spacing: 1px;
    line-height: 1.43;
    color: #6b6b6b;

}

h1 {
}

h2 {
    font-family: Lobster;
    font-size: 30px;
}

/*******************************************************************************
* PAGE
*******************************************************************************/

.page-section {
    margin: 70px 0;
}

/* HEADER
******************************************************************************/
.navbar-nav li a {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0;

    font-size: 30px;
}

.navbar-brand {
    padding: 0;
    padding-top: 15px;

    font-size: 20px;
}

#luis {
    font-weight: 700;
}

@media (max-width: 768px) {
    .navbar-brand {
        padding-left: 10%;
    }
}

/* WELCOME
*****************************************************************************/
#welcomeSection {
    margin: 0;
    margin-top: 50px;
}

#welcomeSection h1 {
    margin-bottom: 5px;
}

/* GREETINGS
******************************************************************************/
#greetingsSection {
}

#greetingsSection h1 {
    color: #16a6b6;
}
#greetingsSection h2 {
    color: #16a6b6;
}

/* COLUMNS
******************************************************************************/
#colummsSection {
}

#colummsSection h1 {
    color: #ee6557;
}
#colummsSection h2 {
    color: #ee6557;
}

#colummsSection h2 {
}


/* FEATURETTES
******************************************************************************/
#featuresSection h1 {
    color: #f03a60;
}
#featuresSection h2 {
    color: #f03a60;
}


/* CONTACTS
*****************************************************************************/
#contactsSection h1 {
    color: #9ece67;
}

.contact {
    display: inline-block;
    padding: 0px 15px;
    font-size: 12px;
    color: inherit;
}

.contact i {
    font-size: 30px;
    color: #9ece67;
}

#extLinks {
    padding: 0;
    padding-top: 20px;
}

.extLink {
}

.extLink i {
    color: #9ece67;
}

.icon-stack {
    font-size: 10px;
    line-height: 1.5;
}

.icon-stack .icon-stack-base {
    font-size: 22px;
    line-height: 0.7;
    font-weight: 100;
}


/* Skills
******************************************************************************/
#skillsSection {
    background-color: #CCC;
}

#skillsSection dt {
    font-size: 14px;
    border-bottom: 2px solid #0099AB;
}

#skillsSection dd {
    padding: 7px 0 2px 7px;
    border-bottom: 1px solid #333;
    font-size: 12px;
}

/* FOOTER
******************************************************************************/
#footer {
    background-color: #111;
    color: #DDD;
}

#footer footer {
    padding-top: 10px;
    font-size: 12px;
}
