/*******************************************************************************
 *
 * lpinto.eu
 *
 * css control of the page content, not page theme definition.
 *
 ******************************************************************************/



/*******************************************************************************
 *
 * HTML
 *
 ******************************************************************************/
body {
    font-size: 14px;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6, legend {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}




/*******************************************************************************
 *
 * BOOTSRAP
 *
 ******************************************************************************/
.jumbotron {
    margin: 0;
    background-color: transparent;
}


/*******************************************************************************
 *
 * COMPONENTS
 *
 ******************************************************************************/

/* Timeline
 ******************************************************************************/
.lp-timeline {
    margin-bottom: 100px;
}



/*******************************************************************************
 *
 * CONTENT
 *
 ******************************************************************************/
.page-section {
    padding: 55px 0px;
}

/* Wellcome
 ******************************************************************************/
#welcome-section  {
    background: #36424D;
    color: #FFFFFF;
}

#welcome-section .btn-primary {
    color: #FFFFFF;
    border-color: #FFFFFF;
    min-width: 100px;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    padding: 7px 15px;
}


/* Qoute
 ******************************************************************************/
#quote-section {
    background: #4C5F70;
    color: #FFFFFF;
}

#quote-section {
    padding: 10px 0;
}

@media (min-width: 768px) {
    #quote-section {
        padding: 40px 0;
    }
}

#quote-section i {
    opacity: 0.5;
    font-size: 0.7em;
}

/* About
 ******************************************************************************/
#about-section {
    background: #EB7260;
    color: #FFFFFF;
}

#about-section p {
    color: #e8e8e8;
}

/* Path
 ******************************************************************************/
#path-section {
    background: #E6E6E6;
    color: #666;
}

.path-img {
    margin-top: 50px;
    border: 3px solid;
}

#path-section h1, #path-section h2 {
    color: #000;
}

/* Some
 ******************************************************************************/
#some-section {
    background: #2EA28E;
    color: #FFFFFF;
}

/* Projects
 ******************************************************************************/
#projects-section {
    background: #E6E6E6;
    color: #666;
}

#projects-section h1, #projects-section h2, #projects-section h3 {
    color: #000;
}

.project-img {
    border: 3px solid;
}

.project-separator {
    margin: 70px 0;
    border-top: 1px solid #666;
}

/* Skills
 ******************************************************************************/
#skills-section {
    background: #548DB5;
    color: #FFFFFF;
}

#skills-section .progress {
    background-color: #548DB5;
}

#skills-section .progress-bar {
    background-color: #74ADD5;
}

/* SKILL_LIST
 ******************************************************************************/
#some2-section {
    background: #EB7260;
    color: #FFFFFF;
}

#some2-section dt {
    border-bottom: 1px solid;
}

#some2-section dd {
    border-bottom: 1px dotted;
}

.extLink {
    background: transparent;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    color: #FFFFFF;
    display: inline-block;
    font-size: 35px;
    height: 85px;
    margin: 25px;
    position: relative;
    text-align: center;
    width: 85px;
    padding: 15px;
}

.extLink:hover {
    background: #FFFFFF;
    color: #4C5F70;
}

/* Contacts
 ******************************************************************************/
#contacts-section {
    background: #4C5F70;
    color: #FFFFFF;
    border: none;
}

.contact p, .contact i {
    color: #FFFFFF;
}

.contact a:hover p, .contact a:hover i  {
    color: #EB7260;
}

.contact i {
    font-size: 35px;
}

/* Footer
 ******************************************************************************/

